In [2]:
#import libraries

import pandas as pd
import numpy as np

from pandas_profiling import ProfileReport

In [3]:
train = pd.read_csv('./data/train.csv')
train.head()

/Users/admin/anaconda3/envs/test/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0

In [4]:
train.dtypes

Date              object
Store            float64
DayOfWeek        float64
Sales            float64
Customers        float64
Open             float64
Promo            float64
StateHoliday      object
SchoolHoliday    float64
dtype: object

In [5]:
#convert store in train to int type
train.Store = train.Store.astype(object)

In [6]:
#check unique store count in train

train.Store.unique().shape

(1116,)

In [7]:
store = pd.read_csv('./data/store.csv')
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [8]:
store.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [9]:
#convert store on Store to object
store.Store = store.Store.astype(object)

In [10]:
#check the store shape
store.shape

(1115, 10)

In [11]:
#merge train and store dataframes on Store

df = pd.merge(train,store, left_on="Store",right_on="Store",how='left',suffixes=('', ''))

df.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,NaN,NaN,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-01,379,2.0,0.0,0.0,0.0,0.0,a,1.0,d,a,6630.0,NaN,NaN,0.0,NaN,NaN,NaN
2,2013-01-01,378,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,2140.0,8.0,2012.0,0.0,NaN,NaN,NaN
3,2013-01-01,377,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,100.0,6.0,2010.0,1.0,18.0,2010.0,"Feb,May,Aug,Nov"
4,2013-01-01,376,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,160.0,8.0,2012.0,0.0,NaN,NaN,NaN

In [12]:
#check for Nan's

df.isnull().sum()

Date                              0
Store                         19301
DayOfWeek                     19017
Sales                         19027
Customers                     19091
Open                          19186
Promo                         19194
StateHoliday                  19254
SchoolHoliday                 19337
StoreType                     19301
Assortment                    19301
CompetitionDistance           20936
CompetitionOpenSinceMonth    215731
CompetitionOpenSinceYear     215731
Promo2                        19301
Promo2SinceWeek              322946
Promo2SinceYear              322946
PromoInterval                322946
dtype: int64

In [13]:
df.shape

(637774, 18)

In [14]:
#quick and dirty approach - drop all rows with null values

df = df.dropna()

#save the cleaned df to model_development
#df.to_csv('./data/cleaned_data.csv')

In [15]:
#pandas profiling

profile = ProfileReport(df, title="Pandas Profiling Report")

profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

In [19]:
#profile.to_widgets()

In [17]:
df.dtypes

Date                          object
Store                         object
DayOfWeek                    float64
Sales                        float64
Customers                    float64
Open                         float64
Promo                        float64
StateHoliday                  object
SchoolHoliday                float64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                       float64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object