# Introduction to Python

## What is Python?

Python is an extremely common programming language that is becomming more and more popular with all types of programmers. It especially strong in data handling, and is the language of choice for AI and data science applications including machine learning. 

Python was invented in 1990 by Guido van Rossum and was specifically designed for programmers (not computers). Thus it's one of the best programming languages to learn as a first language. 

> So I set out to come up with a language that made programmers more productive, and if that meant that the programs would run a bit slower, well, that was an acceptable trade-off - Van Rossum

### The Zen of Python

Python has a philosophy built into the language

## Running the Python interperter

If you are using the recommended Jupyter Lab, then you can eaisly access a terminal in the same window as this notebook

We can start an interactive Python **interpreter** session by typing the following 

```bash
#  the $ indicates the command is run in a shell
$ python
```

We can see where this Python executable is located on our machine using the bash program `which`:

In [119]:
#  use ! to run bash/shell code in the notebook directly

And what version of Python we are using by running Python with a command line argument:

In [120]:
#  use ! to run bash/shell code in the notebook directly

# Python development environment

## iPython

IPython = Interactive Python 
- command shell for interactive computing
- IPython is what runs in Jupyter

## Python development environments (IDEs)

An IDE is where you develop your code. 
In Python, we run code in 2 different ways: 
- iPython: lets you run small snippets of code directly
- Python: script mode, runs entire programs

## Using Python
Python works with (mainly) 2 different things at the lowest level:
1. Data types
2. Functions

Data types store data. Functions act on or change those bits of data.
We name different <i> instances </i> of those data types and save them as variables to make our code easier to read and work with.

## Data Types - Numbers
There are 2 different data types for holding numeric values in python - floats and integers.
Python can be used just like a calculator to work on these numbers.

We can use the typical operators we know `(+, *, /, etc.) ` to perform math operations.

NOTE: `=` in python is used to assign a variable to a name. It is NOT necessary for doinga math operation.

Python will complete the operations based on correct order of operations.

We can do exponentiation:

The modulo (`%`) operator gives us the remainder after division:

This can be used to check if a number is even:

## Data Types - Booleans

Many expressions in Python have a "truth value" and evaluate to one of the two boolean values.
- values which are evaluated to `True` or `False`

## Data Types: Strings

String data types hold text data. If a number appears in a string, it isn't treated as a number (can't be added, multiplied, etc.).
They can be written in multiple ways:

Can use `"`, `'` or `str()`

Files are just big lists of characters

`\n` in the newine character

Multiple line strings:

In [121]:
# showing that the line break is read from the typed line break

Strings next to each other are joined:

We can add strings together (called concatenation):

And multiply them:

What happens when we try to multiply this string?:

## String formatting

There are many formatting tricks in Python to control how strings appear. 
Most formatting commands involve the `{}` curly brackets.

We can control the formatting of decimal places

## String stripping

A common operation is removing whitespaces:

Related is to remove characters from the string - this can be done by replacing with `''`

## `in`

A way to check if an object exists in an iterable using `in`.  As strings are iterable, this syntax works with strings:

## Conditionals
Booleans can be used in conditional commands. 
Conditional commands work just like the "IF..THEN.." command you know from Microsoft Excel.


Try changing the value of X in the example below:

We can add almost infinite layers to our conditional by adding `elif` to the conditional block

## Comparisons
a double equals sign is used to compute comparisons in Python.

An exclamation sign followed by an equals sign means "is not equal to"

## Logical operators

`and`, `or`, `not`

## Datatypes: List
A list in python is a collection of datapoints. It is created with brackets `[]` or using `list()`. 
We can use **selectors** to select specific items within the list.

Selectors are called after the list using `[]`. PYthon starts counting at 0. To get the first element of the list then, we need to use 0 inside the selector. To get the second item, we would put a 1 inside the selector. 

We can also start from the back of the list, using -1. Then every positional element we want to get after the last one, we subtract one further. For example, if we want to get the 2nd-from-last element, we could select this element by putting -2 in the selector.

Selecting a range of a list

In [65]:
weekdays = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
]

Select Thursday and Friday from the list

## Variables & objects

In Python (unlike other languages) there is a difference between **objects** and **variables**:
- object = the actual data in memory
- variable = a label that refers to an object

Objects have an identity, type and value.  Only the value changes over time.

In Python, variables **refer** to objects.  They are labels for objects - not the object themselves.
- one object can have many labels
- one label = only one object

Below we create two objects

We can use two different operators to compare these variables.

The `==` operator checks if the two objects have the same values:

The `is` operator checks whether both variables refer to the same object:

Under the hood Python is comparing the object's `id` - a unique value for each object:

# Loops
In Python (and programming in general), we'll find many times when we want to do the same calculation over multiple values. This is what loops are for. They allow us to iterrate through lists, or rows in a table of data. 

### `for`

We can iterate through any object that has multiple smaller objects within it, like a list. 
A list contains multiple smaller elements within it.

In [2]:
p = [1,5,8,12,6]

for i in p:
  new_number = i + 5
  print("old number: ", i )
  print("new number: ", new_number)

old number:  1
nre number:  6
old number:  5
nre number:  10
old number:  8
nre number:  13
old number:  12
nre number:  17
old number:  6
nre number:  11

Question: What will happen if we call `new_number` now?

In [3]:
new_number

11

How could we see all of the new_numbers?

In [5]:
p = [1,5,8,12,6]

#make empty list
new_p = []
for i in p:
  new_number = i+5
  print("old number is: ", i)
  print("new_number is: ", new_number)
  new_p.append(new_number)

old number is:  1
new_number is:  6
old number is:  5
new_number is:  10
old number is:  8
new_number is:  13
old number is:  12
new_number is:  17
old number is:  6
new_number is:  11

In [6]:
new_p

[6, 10, 13, 17, 11]

A useful tool in python exists for making increasing 'counting-style' lists. This is called `range`. With range, the programmer enters the value at which they want the list to start and stop, and the 'step' of the list. Normally this would be 1. Setting the step to 2 counts off by skipping the intermediary number.

In [7]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

Range doesn't "show" the list, have to convert it to a list to see this. However, it is still iterable.

In [8]:
range(10)
type(range(10))

range(0, 10)

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(5,10))

[5, 6, 7, 8, 9]

[0, 2, 4, 6, 8]

In [10]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

setting starting point with range

In [ ]:
list(range(1,5))

setting step size with range

In [ ]:
list(range(0,10,2))

## Strings are iterable

In [15]:

for i in "Python":
  print(i * 2)

PP
yy
tt
hh
oo
nn

We can use the builtin `len` to measure the number of characters in a string:

(can also be used to measure length of a list, or any iterable)

In [20]:
len("first")

5

We can see some of the other functionality available on the `str` object using `dir`:

In [21]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Exercises

Write a program to print out:

```
*****                                                                  
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *  
```

It might be useful to know you can do

`'*' * 2 = '**'`

`'*' + ' ' = '* '`


`'\n'` makes a line break in python

In [36]:
print("*" * 5 + ("\n  "+ "*") * 6)

*****
  *
  *
  *
  *
  *
  *

Write a program to print:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [26]:
for i in range(10):
  print(str(i) *i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

## Datatypes: Dictionary

Dictionaries are a handy way to keep track of data in key-value pairs. 
`{key1: value1, key2: value2}`

Let's make a list of dictionaries:

In [38]:
data = [
    {'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'Every man is my superior in some way. In that, I learn of him'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well'},
    {'author': 'Ralph Waldo Emerson', 'text': 'Every man alone is sincere.  At the entrance of a second persion, hypocrisy beings'},
    {'author': 'Majjha Nikaya', 'text': 'This is, because that is.  This is not, because that is not.  This is like this, because this is like that'}
]

We can select our first quote dictionary:

In [39]:
data[0]

{'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'}

In [40]:
type(data)

list

We can iterate over the keys:

In [42]:
dict_1 = data[0]
for key in dict_1.keys():
  print(key)

author
text

And the same for the values:

In [43]:
for val in dict_1.values():
  print(val)

F. SCOTT FITZGERALD
Action is character

And both at the same time:

In [44]:
for key, val in dict_1.items():
  print(key, val)

author F. SCOTT FITZGERALD
text Action is character

We can then use the dictionaries to make a DataFrame (more on this in the pandas class :) )

In [46]:
import pandas as pd

In [47]:
pd.DataFrame(data)

                author                                               text
0  F. SCOTT FITZGERALD                                Action is character
1  RALPH WALDO EMERSON  Every man is my superior in some way. In that,...
2  RALPH WALDO EMERSON  The purpose of life is not to be happy. It is ...
3  Ralph Waldo Emerson  Every man alone is sincere.  At the entrance o...
4        Majjha Nikaya  This is, because that is.  This is not, becaus...

## Exercises:

Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

Should display "Red Black"

In [49]:
color_list = ["red", "green", "white", "black"]
print(color_list[0], color_list[-1])

red black

Sum all the items in the following list:
x = [1, 2, 3, 7, 12]

(hint: no using built-in functions!)

In [76]:
x = [1,2,3,7,12]
sum(x)

25

In [77]:
y=0
for i in x:
    y+=i
print(y)

25

Get the maximum number from a list: y = [-10, 6, 8, 14]

(hint: no using built-in functions!)

In [51]:
y = [-10, 6, 8, 14]
max(y)

14

In [ ]:
y = [-10, 6, 8, 14]
my_max = y[0]
for i in y[1:]:
    if i > my_max:
        my_max = i
print("my_max = ", my_max)

Check if a list is empty or not.

For list p = [ ], should print "True".

For list q = [1, 2, 3, 4] should print "False".

In [61]:
p = []
q = [1,2,3,4]

False

In [ ]:
p=[]
if len(p) == 0: print(True)

In [ ]:
def check_if_empty(my_list):
    return len(my_list) == 0

In [ ]:
p = []
q = [1, 2, 3, 4] 

def is_empty(my_list):
    if len(my_list) == 0:
        print("True")
    else:
        print("False")

k = is_empty(p)

Add the {key: value} pair `{"Susan: 43}` to the dictionary `ages = {"Joe": 50, "Gretchen": 31}`

In [70]:
ages = {"Joe": 50, "Gretchen": 31}
ages.update({"Susan": 43})
print(ages)

{'Joe': 50, 'Gretchen': 31, 'Susan': 43}

In [ ]:
ages = {"Joe": 50, "Gretchen": 31}
ages[“Susan”] = 43
print(ages)